## Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max_columns", None)
import functions as f
from skimpy import clean_columns

## Importing Data

In [2]:
acc = pd.read_csv("/Users/laurynas/Documents/DataScience/Projects/Data/lending-club/accepted.csv", low_memory=False)
rej = pd.read_csv("/Users/laurynas/Documents/DataScience/Projects/Data/lending-club/rejected.csv", low_memory=False)

In [3]:
accepted = acc.copy()
rejected = rej.copy()

## Overview of the Dataset
### The accepted loan request dataset

In [4]:
accepted.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
f.overview_data(accepted, display_frst_value=True)

The DataFrame has 2260701 rows and 151 columns.
+-----+--------------------------------------------+-------------+-------+-------------+----------+---------------+
|     | Column                                     |   NA Values |     % | Data Type   |   Unique | First Value   |
|-----+--------------------------------------------+-------------+-------+-------------+----------+---------------|
|   0 | id                                         |           0 |   0   | object      |  2260701 | 68407277      |
|   1 | member_id                                  |     2260701 | 100   | float64     |        0 | nan           |
|   2 | loan_amnt                                  |          33 |   0   | float64     |     1572 | 3600.0        |
|   3 | funded_amnt                                |          33 |   0   | float64     |     1572 | 3600.0        |
|   4 | funded_amnt_inv                            |          33 |   0   | float64     |    10057 | 3600.0        |
|   5 | term                                       |          33 |   0   | object      |        2 | 36 months     |
|   6 | int_rate                                   |          33 |   0   | float64     |      673 | 13.99         |
|   7 | installment                                |          33 |   0   | float64     |    93301 | 123.03        |
|   8 | grade                                      |          33 |   0   | object      |        7 | C             |
|   9 | sub_grade                                  |          33 |   0   | object      |       35 | C4            |
|  10 | emp_title                                  |      167002 |   7.4 | object      |   512694 | leadman       |
|  11 | emp_length                                 |      146940 |   6.5 | object      |       11 | 10+ years     |
|  12 | home_ownership                             |          33 |   0   | object      |        6 | MORTGAGE      |
|  13 | annual_inc                                 |          37 |   0   | float64     |    89368 | 55000.0       |
|  14 | verification_status                        |          33 |   0   | object      |        3 | Not Verifi... |
|  15 | issue_d                                    |          33 |   0   | object      |      139 | Dec-2015      |
|  16 | loan_status                                |          33 |   0   | object      |        9 | Fully Paid    |
|  17 | pymnt_plan                                 |          33 |   0   | object      |        2 | n             |
|  18 | url                                        |          33 |   0   | object      |  2260668 | https://le... |
|  19 | desc                                       |     2134636 |  94.4 | object      |   124500 | We knew th... |
|  20 | purpose                                    |          33 |   0   | object      |       14 | debt_conso... |
|  21 | title                                      |       23359 |   1   | object      |    63154 | Debt conso... |
|  22 | zip_code                                   |          34 |   0   | object      |      956 | 190xx         |
|  23 | addr_state                                 |          33 |   0   | object      |       51 | PA            |
|  24 | dti                                        |        1744 |   0.1 | float64     |    10845 | 5.91          |
|  25 | delinq_2yrs                                |          62 |   0   | float64     |       37 | 0.0           |
|  26 | earliest_cr_line                           |          62 |   0   | object      |      754 | Aug-2003      |
|  27 | fico_range_low                             |          33 |   0   | float64     |       48 | 675.0         |
|  28 | fico_range_high                            |          33 |   0   | float64     |       48 | 679.0         |
|  29 | inq_last_6mths                             |          63 |   0   | float64     |       28 | 1.0           |
|  30 | mths_since_last_delinq                     |     1158535 |  51.2 | float64     |      173 | 30.0          |
|  31 | mths_since_last_record                     |     1901545 |  84.1 | float64     |      129 | 106.0         |
|  32 | open_acc                                   |          62 |   0   | float64     |       91 | 7.0           |
|  33 | pub_rec                                    |          62 |   0   | float64     |       43 | 0.0           |
|  34 | revol_bal                                  |          33 |   0   | float64     |   102251 | 2765.0        |
|  35 | revol_util                                 |        1835 |   0.1 | float64     |     1430 | 29.7          |
|  36 | total_acc                                  |          62 |   0   | float64     |      152 | 13.0          |
|  37 | initial_list_status                        |          33 |   0   | object      |        2 | w             |
|  38 | out_prncp                                  |          33 |   0   | float64     |   356141 | 0.0           |
|  39 | out_prncp_inv                              |          33 |   0   | float64     |   368481 | 0.0           |
|  40 | total_pymnt                                |          33 |   0   | float64     |  1633864 | 4421.72391... |
|  41 | total_pymnt_inv                            |          33 |   0   | float64     |  1311099 | 4421.72       |
|  42 | total_rec_prncp                            |          33 |   0   | float64     |   486463 | 3600.0        |
|  43 | total_rec_int                              |          33 |   0   | float64     |   635921 | 821.72        |
|  44 | total_rec_late_fee                         |          33 |   0   | float64     |    18375 | 0.0           |
|  45 | recoveries                                 |          33 |   0   | float64     |   132777 | 0.0           |
|  46 | collection_recovery_fee                    |          33 |   0   | float64     |   146222 | 0.0           |
|  47 | last_pymnt_d                               |        2460 |   0.1 | object      |      136 | Jan-2019      |
|  48 | last_pymnt_amnt                            |          33 |   0   | float64     |   704467 | 122.67        |
|  49 | next_pymnt_d                               |     1345343 |  59.5 | object      |      106 | Apr-2019      |
|  50 | last_credit_pull_d                         |         105 |   0   | object      |      141 | Mar-2019      |
|  51 | last_fico_range_high                       |          33 |   0   | float64     |       72 | 564.0         |
|  52 | last_fico_range_low                        |          33 |   0   | float64     |       71 | 560.0         |
|  53 | collections_12_mths_ex_med                 |         178 |   0   | float64     |       16 | 0.0           |
|  54 | mths_since_last_major_derog                |     1679926 |  74.3 | float64     |      183 | 30.0          |
|  55 | policy_code                                |          33 |   0   | float64     |        1 | 1.0           |
|  56 | application_type                           |          33 |   0   | object      |        2 | Individual    |
|  57 | annual_inc_joint                           |     2139991 |  94.7 | float64     |    17633 | 71000.0       |
|  58 | dti_joint                                  |     2139995 |  94.7 | float64     |     4018 | 13.85         |
|  59 | verification_status_joint                  |     2144971 |  94.9 | object      |        3 | Not Verifi... |
|  60 | acc_now_delinq                             |          62 |   0   | float64     |        9 | 0.0           |
|  61 | tot_coll_amt                               |       70309 |   3.1 | float64     |    15574 | 722.0         |
|  62 | tot_cur_bal                                |       70309 |   3.1 | float64     |   487688 | 144904.0      |
|  63 | open_acc_6m                                |      866163 |  38.3 | float64     |       19 | 2.0           |
|  64 | open_act_il                                |      866162 |  38.3 | float64     |       54 | 2.0           |
|  65 | open_il_12m                                |      866162 |  38.3 | float64     |       19 | 0.0           |
|  66 | open_il_24m                                |      866162 |  38.3 | float64     |       31 | 1.0           |
|  67 | mths_since_rcnt_il                         |      909957 |  40.3 | float64     |      405 | 21.0          |
|  68 | total_bal_il                               |      866162 |  38.3 | float64     |   162249 | 4981.0        |
|  69 | il_util                                    |     1068883 |  47.3 | float64     |      280 | 36.0          |
|  70 | open_rv_12m                                |      866162 |  38.3 | float64     |       29 | 3.0           |
|  71 | open_rv_24m                                |      866162 |  38.3 | float64     |       50 | 3.0           |
|  72 | max_bal_bc                                 |      866162 |  38.3 | float64     |    33726 | 722.0         |
|  73 | all_util                                   |      866381 |  38.3 | float64     |      188 | 34.0          |
|  74 | total_rev_hi_lim                           |       70309 |   3.1 | float64     |    34220 | 9300.0        |
|  75 | inq_fi                                     |      866162 |  38.3 | float64     |       33 | 3.0           |
|  76 | total_cu_tl                                |      866163 |  38.3 | float64     |       62 | 1.0           |
|  77 | inq_last_12m                               |      866163 |  38.3 | float64     |       48 | 4.0           |
|  78 | acc_open_past_24mths                       |       50063 |   2.2 | float64     |       57 | 4.0           |
|  79 | avg_cur_bal                                |       70379 |   3.1 | float64     |    88597 | 20701.0       |
|  80 | bc_open_to_buy                             |       74968 |   3.3 | float64     |    91500 | 1506.0        |
|  81 | bc_util                                    |       76104 |   3.4 | float64     |     1494 | 37.2          |
|  82 | chargeoff_within_12_mths                   |         178 |   0   | float64     |       11 | 0.0           |
|  83 | delinq_amnt                                |          62 |   0   | float64     |     2617 | 0.0           |
|  84 | mo_sin_old_il_acct                         |      139104 |   6.2 | float64     |      566 | 148.0         |
|  85 | mo_sin_old_rev_tl_op                       |       70310 |   3.1 | float64     |      787 | 128.0         |
|  86 | mo_sin_rcnt_rev_tl_op                      |       70310 |   3.1 | float64     |      333 | 3.0           |
|  87 | mo_sin_rcnt_tl                             |       70309 |   3.1 | float64     |      232 | 3.0           |
|  88 | mort_acc                                   |       50063 |   2.2 | float64     |       47 | 1.0           |
|  89 | mths_since_recent_bc                       |       73445 |   3.2 | float64     |      546 | 4.0           |
|  90 | mths_since_recent_bc_dlq                   |     1741000 |  77   | float64     |      177 | 69.0          |
|  91 | mths_since_recent_inq                      |      295468 |  13.1 | float64     |       26 | 4.0           |
|  92 | mths_since_recent_revol_delinq             |     1520342 |  67.3 | float64     |      179 | 69.0          |
|  93 | num_accts_ever_120_pd                      |       70309 |   3.1 | float64     |       44 | 2.0           |
|  94 | num_actv_bc_tl                             |       70309 |   3.1 | float64     |       42 | 2.0           |
|  95 | num_actv_rev_tl                            |       70309 |   3.1 | float64     |       57 | 4.0           |
|  96 | num_bc_sats                                |       58623 |   2.6 | float64     |       60 | 2.0           |
|  97 | num_bc_tl                                  |       70309 |   3.1 | float64     |       76 | 5.0           |
|  98 | num_il_tl                                  |       70309 |   3.1 | float64     |      122 | 3.0           |
|  99 | num_op_rev_tl                              |       70309 |   3.1 | float64     |       81 | 4.0           |
| 100 | num_rev_accts                              |       70310 |   3.1 | float64     |      117 | 9.0           |
| 101 | num_rev_tl_bal_gt_0                        |       70309 |   3.1 | float64     |       50 | 4.0           |
| 102 | num_sats                                   |       58623 |   2.6 | float64     |       91 | 7.0           |
| 103 | num_tl_120dpd_2m                           |      153690 |   6.8 | float64     |        7 | 0.0           |
| 104 | num_tl_30dpd                               |       70309 |   3.1 | float64     |        5 | 0.0           |
| 105 | num_tl_90g_dpd_24m                         |       70309 |   3.1 | float64     |       34 | 0.0           |
| 106 | num_tl_op_past_12m                         |       70309 |   3.1 | float64     |       33 | 3.0           |
| 107 | pct_tl_nvr_dlq                             |       70464 |   3.1 | float64     |      690 | 76.9          |
| 108 | percent_bc_gt_75                           |       75412 |   3.3 | float64     |      284 | 0.0           |
| 109 | pub_rec_bankruptcies                       |        1398 |   0.1 | float64     |       12 | 0.0           |
| 110 | tax_liens                                  |         138 |   0   | float64     |       42 | 0.0           |
| 111 | tot_hi_cred_lim                            |       70309 |   3.1 | float64     |   529972 | 178050.0      |
| 112 | total_bal_ex_mort                          |       50063 |   2.2 | float64     |   212777 | 7746.0        |
| 113 | total_bc_limit                             |       50063 |   2.2 | float64     |    20309 | 2400.0        |
| 114 | total_il_high_credit_limit                 |       70309 |   3.1 | float64     |   194137 | 13734.0       |
| 115 | revol_bal_joint                            |     2152681 |  95.2 | float64     |    56875 | 7101.0        |
| 116 | sec_app_fico_range_low                     |     2152680 |  95.2 | float64     |       62 | 610.0         |
| 117 | sec_app_fico_range_high                    |     2152680 |  95.2 | float64     |       62 | 614.0         |
| 118 | sec_app_earliest_cr_line                   |     2152680 |  95.2 | object      |      663 | Feb-2005      |
| 119 | sec_app_inq_last_6mths                     |     2152680 |  95.2 | float64     |        7 | 3.0           |
| 120 | sec_app_mort_acc                           |     2152680 |  95.2 | float64     |       23 | 1.0           |
| 121 | sec_app_open_acc                           |     2152680 |  95.2 | float64     |       67 | 14.0          |
| 122 | sec_app_revol_util                         |     2154517 |  95.3 | float64     |     1216 | 80.0          |
| 123 | sec_app_open_act_il                        |     2152680 |  95.2 | float64     |       40 | 11.0          |
| 124 | sec_app_num_rev_accts                      |     2152680 |  95.2 | float64     |       86 | 8.0           |
| 125 | sec_app_chargeoff_within_12_mths           |     2152680 |  95.2 | float64     |       22 | 0.0           |
| 126 | sec_app_collections_12_mths_ex_med         |     2152680 |  95.2 | float64     |       18 | 2.0           |
| 127 | sec_app_mths_since_last_major_derog        |     2224759 |  98.4 | float64     |      140 | 37.0          |
| 128 | hardship_flag                              |          33 |   0   | object      |        2 | N             |
| 129 | hardship_type                              |     2249784 |  99.5 | object      |        1 | INTEREST O... |
| 130 | hardship_reason                            |     2249784 |  99.5 | object      |        9 | NATURAL_DI... |
| 131 | hardship_status                            |     2249784 |  99.5 | object      |        3 | BROKEN        |
| 132 | deferral_term                              |     2249784 |  99.5 | float64     |        1 | 3.0           |
| 133 | hardship_amount                            |     2249784 |  99.5 | float64     |     9162 | 47.01         |
| 134 | hardship_start_date                        |     2249784 |  99.5 | object      |       27 | Sep-2017      |
| 135 | hardship_end_date                          |     2249784 |  99.5 | object      |       28 | Dec-2017      |
| 136 | payment_plan_start_date                    |     2249784 |  99.5 | object      |       27 | Oct-2017      |
| 137 | hardship_length                            |     2249784 |  99.5 | float64     |        1 | 3.0           |
| 138 | hardship_dpd                               |     2249784 |  99.5 | float64     |       34 | 26.0          |
| 139 | hardship_loan_status                       |     2249784 |  99.5 | object      |        5 | Late (16-3... |
| 140 | orig_projected_additional_accrued_interest |     2252050 |  99.6 | float64     |     7487 | 442.41        |
| 141 | hardship_payoff_balance_amount             |     2249784 |  99.5 | float64     |    10893 | 3058.14       |
| 142 | hardship_last_payment_amount               |     2249784 |  99.5 | float64     |     9045 | 61.23         |
| 143 | disbursement_method                        |          33 |   0   | object      |        2 | Cash          |
| 144 | debt_settlement_flag                       |          33 |   0   | object      |        2 | N             |
| 145 | debt_settlement_flag_date                  |     2226455 |  98.5 | object      |       83 | Nov-2017      |
| 146 | settlement_status                          |     2226455 |  98.5 | object      |        3 | COMPLETE      |
| 147 | settlement_date                            |     2226455 |  98.5 | object      |       90 | Sep-2017      |
| 148 | settlement_amount                          |     2226455 |  98.5 | float64     |    21941 | 9915.0        |
| 149 | settlement_percentage                      |     2226455 |  98.5 | float64     |     2070 | 55.0          |
| 150 | settlement_term                            |     2226455 |  98.5 | float64     |       40 | 1.0           |
+-----+--------------------------------------------+-------------+-------+-------------+----------+---------------+

### The rejected loan request dataset

In [6]:
rejected.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

This dataset has column names that are not correctly used, so they need to be cleaned.

In [7]:
rejected = clean_columns(rejected)

In [8]:
f.overview_data(rejected, display_frst_value=True)

The DataFrame has 27648741 rows and 9 columns.
+----+----------------------+-------------+------+-------------+----------+---------------+
|    | Column               |   NA Values |    % | Data Type   |   Unique | First Value   |
|----+----------------------+-------------+------+-------------+----------+---------------|
|  0 | amount_requested     |           0 |  0   | float64     |     3640 | 1000.0        |
|  1 | application_date     |           0 |  0   | object      |     4238 | 2007-05-26    |
|  2 | loan_title           |        1305 |  0   | object      |    73927 | Wedding Co... |
|  3 | risk_score           |    18497630 | 66.9 | float64     |      692 | 693.0         |
|  4 | debt_to_income_ratio |           0 |  0   | object      |   126145 | 10%           |
|  5 | zip_code             |         293 |  0   | object      |     1001 | 481xx         |
|  6 | state                |          22 |  0   | object      |       51 | NM            |
|  7 | employment_length    |      951355 |  3.4 | object      |       11 | 4 years       |
|  8 | policy_code          |         918 |  0   | float64     |        2 | 0.0           |
+----+----------------------+-------------+------+-------------+----------+---------------+

In this dataset the debt_to_income_ratio is object type but for analysis and modeling it should be a float type. So in the next line I will extract that numeric part of those values. Also the risk_score column has a lot of missing values, around 67% of the data is missing.

In [9]:
rejected["debt_to_income_ratio"] = rejected["debt_to_income_ratio"].str.extract(r"(\d+\.?\d*)", expand=False).astype(float)

For the first part of my task I will need to join these two tables together to be able to build the classification model for accepted and rejected loan applications. So first of all I will look at some statistics of the numerical data of those datasets to see if there are any anomalies in the data.

In [10]:
print("DESCRIBTIVE STATISTICS OF NUMERICAL FEATURES")
rejected[["amount_requested", "risk_score", "debt_to_income_ratio", "policy_code"]].describe()

DESCRIBTIVE STATISTICS OF NUMERICAL FEATURES

       amount_requested    risk_score  debt_to_income_ratio   policy_code
count      2.764874e+07  9.151111e+06          2.764874e+07  2.764782e+07
mean       1.313324e+04  6.281721e+02          1.434271e+02  6.375113e-03
std        1.500964e+04  8.993679e+01          1.053916e+04  1.127368e-01
min        0.000000e+00  0.000000e+00          0.000000e+00  0.000000e+00
25%        4.800000e+03  5.910000e+02          8.060000e+00  0.000000e+00
50%        1.000000e+04  6.370000e+02          1.998000e+01  0.000000e+00
75%        2.000000e+04  6.750000e+02          3.661000e+01  0.000000e+00
max        1.400000e+06  9.900000e+02          5.000003e+07  2.000000e+00

Looking at this table it seems that there is a problem with the "policy_code" column, because there are more than one unique value in this column. So I will take a closer look at that mislabeling.

In [11]:
rejected["policy_code"].unique()

array([ 0.,  2., nan])

In [12]:
rejected[rejected["policy_code"] == 0].head()

,amount_requested,application_date,loan_title,risk_score,debt_to_income_ratio,zip_code,state,employment_length,policy_code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10.00,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10.00,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10.00,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43,209xx,MD,< 1 year,0.0

In [13]:
rejected[rejected["policy_code"] == 2].head()

,amount_requested,application_date,loan_title,risk_score,debt_to_income_ratio,zip_code,state,employment_length,policy_code
755495,3000.0,2016-04-01,Debt consolidation,NaN,8.49,895xx,NV,2 years,2.0
755669,1000.0,2016-04-01,Debt consolidation,NaN,20.34,386xx,MS,1 year,2.0
756071,75000.0,2016-04-01,Business Loan,NaN,1.00,296xx,SC,< 1 year,2.0
756142,3500.0,2016-04-01,Debt consolidation,NaN,21.19,070xx,NJ,10+ years,2.0
756499,6000.0,2016-04-01,Home improvement,NaN,4.46,018xx,MA,7 years,2.0

After overviewing the data it is apparent that the policy code labeling changed over time. Prior the year 2016 the rejected loan applications were labeled as `0` and the after that it was changed to `2`. Keeping that in mind I will leave all the values and only change "2" to "0" in the policy code column.

In [14]:
rejected["policy_code"] = rejected["policy_code"].replace(2, 0)

I will also rename the accepted dataset column names to match the rejected dataset column names.

In [15]:
accepted = accepted.rename(
    columns= {
        "loan_amnt": "amount_requested",  
        "dti": "debt_to_income_ratio", 
        "addr_state": "state", 
        "emp_length": "employment_length",
        "title": "loan_title"
        })

The accepted loan request dataset doesn't have a "risk_score" feature. To calculate this feature I will use the "fico_range_high" and "fico_range_low" features and calculate the mean of those two values.

In [16]:
accepted["risk_score"] = ((accepted["fico_range_high"] + accepted["fico_range_low"]) / 2).astype(float)

In [17]:
print("DESCRIBTIVE STATISTICS OF NUMERICAL FEATURES")
accepted[["amount_requested", "risk_score", "debt_to_income_ratio", "policy_code"]].describe()

DESCRIBTIVE STATISTICS OF NUMERICAL FEATURES

       amount_requested    risk_score  debt_to_income_ratio  policy_code
count      2.260668e+06  2.260668e+06          2.258957e+06    2260668.0
mean       1.504693e+04  7.005883e+02          1.882420e+01          1.0
std        9.190245e+03  3.301081e+01          1.418333e+01          0.0
min        5.000000e+02  6.120000e+02         -1.000000e+00          1.0
25%        8.000000e+03  6.770000e+02          1.189000e+01          1.0
50%        1.290000e+04  6.920000e+02          1.784000e+01          1.0
75%        2.000000e+04  7.170000e+02          2.449000e+01          1.0
max        4.000000e+04  8.475000e+02          9.990000e+02          1.0

Looking at this table it seems that in "dept_to_income_ratio" column there are some negative values that are not possible for representing dept to income ratio. These values can only be positive. So I will remove those rows from the dataset.

In [18]:
accepted[accepted["debt_to_income_ratio"] < 0]

,id,member_id,amount_requested,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,employment_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,loan_title,zip_code,state,debt_to_income_ratio,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,risk_score
1014615,74636850,NaN,15000.0,15000.0,15000.0,36 months,9.75,482.25,B,B3,Maintenance electrician,5 years,MORTGAGE,94000.0,Source Verified,Mar-2016,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,970xx,OR,-1.0,0.0,Sep-2003,670.0,674.0,0.0,63.0,66.0,12.0,1.0,15445.0,45.8,24.0,w,0.0,0.0,16188.784355,16188.78,15000.0,1188.78,0.0,0.0,0.0,Feb-2017,11382.53,NaN,Mar-2019,714.0,710.0,0.0,63.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,93070.0,1.0,3.0,1.0,4.0,10.0,77625.0,90.0,2.0,4.0,4108.0,73.0,33700.0,1.0,10.0,2.0,8.0,8461.0,3942.0,61.7,0.0,0.0,98.0,150.0,2.0,2.0,1.0,15.0,63.0,10.0,63.0,0.0,3.0,5.0,3.0,6.0,10.0,9.0,13.0,5.0,11.0,0.0,0.0,0.0,3.0,95.8,33.3,1.0,0.0,127743.0,93070.0,10300.0,94043.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,672.0
1681348,99827944,NaN,17000.0,17000.0,17000.0,60 months,13.49,391.08,C,C2,teacher,10+ years,MORTGAGE,75000.0,Not Verified,Mar-2017,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,471xx,IN,-1.0,1.0,Sep-1992,685.0,689.0,0.0,23.0,NaN,12.0,0.0,44587.0,78.2,34.0,w,0.0,0.0,20423.499106,20423.50,17000.0,3423.50,0.0,0.0,0.0,Nov-2018,12948.38,NaN,Mar-2019,724.0,720.0,0.0,NaN,1.0,Joint App,170000.0,22.27,Not Verified,0.0,0.0,299893.0,0.0,1.0,1.0,1.0,8.0,40332.0,NaN,0.0,1.0,14618.0,78.0,57000.0,2.0,0.0,4.0,2.0,24991.0,3242.0,89.6,0.0,0.0,162.0,294.0,15.0,8.0,3.0,27.0,NaN,2.0,35.0,0.0,5.0,10.0,5.0,8.0,9.0,10.0,22.0,10.0,12.0,0.0,0.0,0.0,1.0,91.2,40.0,0.0,0.0,333184.0,84919.0,31100.0,42668.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,687.0

In [19]:
accepted.drop(accepted[accepted["debt_to_income_ratio"] < 0].index, inplace=True)

In [20]:
df_1 = pd.concat([accepted[["amount_requested", "loan_title", "risk_score", "debt_to_income_ratio", "zip_code", "state", "employment_length", "policy_code"]], 
rejected[["amount_requested", "loan_title", "risk_score", "debt_to_income_ratio", "zip_code", "state", "employment_length", "policy_code"]]], ignore_index = True, sort = False)

In [21]:
f.overview_data(df_1, display_frst_value=True)

The DataFrame has 29909440 rows and 8 columns.
+----+----------------------+-------------+------+-------------+----------+---------------+
|    | Column               |   NA Values |    % | Data Type   |   Unique | First Value   |
|----+----------------------+-------------+------+-------------+----------+---------------|
|  0 | amount_requested     |          33 |  0   | float64     |     3640 | 3600.0        |
|  1 | loan_title           |       24664 |  0.1 | object      |   127125 | Debt conso... |
|  2 | risk_score           |    18497663 | 61.8 | float64     |      693 | 677.0         |
|  3 | debt_to_income_ratio |        1744 |  0   | float64     |   126160 | 5.91          |
|  4 | zip_code             |         327 |  0   | object      |     1001 | 190xx         |
|  5 | state                |          55 |  0   | object      |       51 | PA            |
|  6 | employment_length    |     1098295 |  3.7 | object      |       11 | 10+ years     |
|  7 | policy_code          |         951 |  0   | float64     |        2 | 1.0           |
+----+----------------------+-------------+------+-------------+----------+---------------+

From the table above we can see that there are 951 missing policy_code values. Since this is our target value for prediction I will remove those rows from the dataset and export the cleaned dataset to a csv file.

In [22]:
df_1 = df_1.dropna(subset="policy_code")

In [23]:
# df_1.to_csv("/Users/laurynas/Documents/DataScience/Projects/Data/lending-club/df_1.csv", index=False)

## Preparing the second dataset for remaining tasks

In [24]:
f.overview_data(accepted, display_frst_value=True)

The DataFrame has 2260699 rows and 152 columns.
+-----+--------------------------------------------+-------------+-------+-------------+----------+---------------+
|     | Column                                     |   NA Values |     % | Data Type   |   Unique | First Value   |
|-----+--------------------------------------------+-------------+-------+-------------+----------+---------------|
|   0 | id                                         |           0 |   0   | object      |  2260699 | 68407277      |
|   1 | member_id                                  |     2260699 | 100   | float64     |        0 | nan           |
|   2 | amount_requested                           |          33 |   0   | float64     |     1572 | 3600.0        |
|   3 | funded_amnt                                |          33 |   0   | float64     |     1572 | 3600.0        |
|   4 | funded_amnt_inv                            |          33 |   0   | float64     |    10057 | 3600.0        |
|   5 | term                                       |          33 |   0   | object      |        2 | 36 months     |
|   6 | int_rate                                   |          33 |   0   | float64     |      673 | 13.99         |
|   7 | installment                                |          33 |   0   | float64     |    93301 | 123.03        |
|   8 | grade                                      |          33 |   0   | object      |        7 | C             |
|   9 | sub_grade                                  |          33 |   0   | object      |       35 | C4            |
|  10 | emp_title                                  |      167002 |   7.4 | object      |   512694 | leadman       |
|  11 | employment_length                          |      146940 |   6.5 | object      |       11 | 10+ years     |
|  12 | home_ownership                             |          33 |   0   | object      |        6 | MORTGAGE      |
|  13 | annual_inc                                 |          37 |   0   | float64     |    89368 | 55000.0       |
|  14 | verification_status                        |          33 |   0   | object      |        3 | Not Verifi... |
|  15 | issue_d                                    |          33 |   0   | object      |      139 | Dec-2015      |
|  16 | loan_status                                |          33 |   0   | object      |        9 | Fully Paid    |
|  17 | pymnt_plan                                 |          33 |   0   | object      |        2 | n             |
|  18 | url                                        |          33 |   0   | object      |  2260666 | https://le... |
|  19 | desc                                       |     2134634 |  94.4 | object      |   124500 | We knew th... |
|  20 | purpose                                    |          33 |   0   | object      |       14 | debt_conso... |
|  21 | loan_title                                 |       23359 |   1   | object      |    63154 | Debt conso... |
|  22 | zip_code                                   |          34 |   0   | object      |      956 | 190xx         |
|  23 | state                                      |          33 |   0   | object      |       51 | PA            |
|  24 | debt_to_income_ratio                       |        1744 |   0.1 | float64     |    10844 | 5.91          |
|  25 | delinq_2yrs                                |          62 |   0   | float64     |       37 | 0.0           |
|  26 | earliest_cr_line                           |          62 |   0   | object      |      754 | Aug-2003      |
|  27 | fico_range_low                             |          33 |   0   | float64     |       48 | 675.0         |
|  28 | fico_range_high                            |          33 |   0   | float64     |       48 | 679.0         |
|  29 | inq_last_6mths                             |          63 |   0   | float64     |       28 | 1.0           |
|  30 | mths_since_last_delinq                     |     1158535 |  51.2 | float64     |      173 | 30.0          |
|  31 | mths_since_last_record                     |     1901544 |  84.1 | float64     |      129 | 106.0         |
|  32 | open_acc                                   |          62 |   0   | float64     |       91 | 7.0           |
|  33 | pub_rec                                    |          62 |   0   | float64     |       43 | 0.0           |
|  34 | revol_bal                                  |          33 |   0   | float64     |   102251 | 2765.0        |
|  35 | revol_util                                 |        1835 |   0.1 | float64     |     1430 | 29.7          |
|  36 | total_acc                                  |          62 |   0   | float64     |      152 | 13.0          |
|  37 | initial_list_status                        |          33 |   0   | object      |        2 | w             |
|  38 | out_prncp                                  |          33 |   0   | float64     |   356141 | 0.0           |
|  39 | out_prncp_inv                              |          33 |   0   | float64     |   368481 | 0.0           |
|  40 | total_pymnt                                |          33 |   0   | float64     |  1633862 | 4421.72391... |
|  41 | total_pymnt_inv                            |          33 |   0   | float64     |  1311098 | 4421.72       |
|  42 | total_rec_prncp                            |          33 |   0   | float64     |   486463 | 3600.0        |
|  43 | total_rec_int                              |          33 |   0   | float64     |   635921 | 821.72        |
|  44 | total_rec_late_fee                         |          33 |   0   | float64     |    18375 | 0.0           |
|  45 | recoveries                                 |          33 |   0   | float64     |   132777 | 0.0           |
|  46 | collection_recovery_fee                    |          33 |   0   | float64     |   146222 | 0.0           |
|  47 | last_pymnt_d                               |        2460 |   0.1 | object      |      136 | Jan-2019      |
|  48 | last_pymnt_amnt                            |          33 |   0   | float64     |   704465 | 122.67        |
|  49 | next_pymnt_d                               |     1345341 |  59.5 | object      |      106 | Apr-2019      |
|  50 | last_credit_pull_d                         |         105 |   0   | object      |      141 | Mar-2019      |
|  51 | last_fico_range_high                       |          33 |   0   | float64     |       72 | 564.0         |
|  52 | last_fico_range_low                        |          33 |   0   | float64     |       71 | 560.0         |
|  53 | collections_12_mths_ex_med                 |         178 |   0   | float64     |       16 | 0.0           |
|  54 | mths_since_last_major_derog                |     1679925 |  74.3 | float64     |      183 | 30.0          |
|  55 | policy_code                                |          33 |   0   | float64     |        1 | 1.0           |
|  56 | application_type                           |          33 |   0   | object      |        2 | Individual    |
|  57 | annual_inc_joint                           |     2139990 |  94.7 | float64     |    17633 | 71000.0       |
|  58 | dti_joint                                  |     2139994 |  94.7 | float64     |     4018 | 13.85         |
|  59 | verification_status_joint                  |     2144970 |  94.9 | object      |        3 | Not Verifi... |
|  60 | acc_now_delinq                             |          62 |   0   | float64     |        9 | 0.0           |
|  61 | tot_coll_amt                               |       70309 |   3.1 | float64     |    15574 | 722.0         |
|  62 | tot_cur_bal                                |       70309 |   3.1 | float64     |   487688 | 144904.0      |
|  63 | open_acc_6m                                |      866163 |  38.3 | float64     |       19 | 2.0           |
|  64 | open_act_il                                |      866162 |  38.3 | float64     |       54 | 2.0           |
|  65 | open_il_12m                                |      866162 |  38.3 | float64     |       19 | 0.0           |
|  66 | open_il_24m                                |      866162 |  38.3 | float64     |       31 | 1.0           |
|  67 | mths_since_rcnt_il                         |      909957 |  40.3 | float64     |      405 | 21.0          |
|  68 | total_bal_il                               |      866162 |  38.3 | float64     |   162249 | 4981.0        |
|  69 | il_util                                    |     1068882 |  47.3 | float64     |      280 | 36.0          |
|  70 | open_rv_12m                                |      866162 |  38.3 | float64     |       29 | 3.0           |
|  71 | open_rv_24m                                |      866162 |  38.3 | float64     |       50 | 3.0           |
|  72 | max_bal_bc                                 |      866162 |  38.3 | float64     |    33726 | 722.0         |
|  73 | all_util                                   |      866381 |  38.3 | float64     |      188 | 34.0          |
|  74 | total_rev_hi_lim                           |       70309 |   3.1 | float64     |    34220 | 9300.0        |
|  75 | inq_fi                                     |      866162 |  38.3 | float64     |       33 | 3.0           |
|  76 | total_cu_tl                                |      866163 |  38.3 | float64     |       62 | 1.0           |
|  77 | inq_last_12m                               |      866163 |  38.3 | float64     |       48 | 4.0           |
|  78 | acc_open_past_24mths                       |       50063 |   2.2 | float64     |       57 | 4.0           |
|  79 | avg_cur_bal                                |       70379 |   3.1 | float64     |    88597 | 20701.0       |
|  80 | bc_open_to_buy                             |       74968 |   3.3 | float64     |    91500 | 1506.0        |
|  81 | bc_util                                    |       76104 |   3.4 | float64     |     1494 | 37.2          |
|  82 | chargeoff_within_12_mths                   |         178 |   0   | float64     |       11 | 0.0           |
|  83 | delinq_amnt                                |          62 |   0   | float64     |     2617 | 0.0           |
|  84 | mo_sin_old_il_acct                         |      139104 |   6.2 | float64     |      566 | 148.0         |
|  85 | mo_sin_old_rev_tl_op                       |       70310 |   3.1 | float64     |      787 | 128.0         |
|  86 | mo_sin_rcnt_rev_tl_op                      |       70310 |   3.1 | float64     |      333 | 3.0           |
|  87 | mo_sin_rcnt_tl                             |       70309 |   3.1 | float64     |      232 | 3.0           |
|  88 | mort_acc                                   |       50063 |   2.2 | float64     |       47 | 1.0           |
|  89 | mths_since_recent_bc                       |       73445 |   3.2 | float64     |      546 | 4.0           |
|  90 | mths_since_recent_bc_dlq                   |     1740999 |  77   | float64     |      177 | 69.0          |
|  91 | mths_since_recent_inq                      |      295468 |  13.1 | float64     |       26 | 4.0           |
|  92 | mths_since_recent_revol_delinq             |     1520342 |  67.3 | float64     |      179 | 69.0          |
|  93 | num_accts_ever_120_pd                      |       70309 |   3.1 | float64     |       44 | 2.0           |
|  94 | num_actv_bc_tl                             |       70309 |   3.1 | float64     |       42 | 2.0           |
|  95 | num_actv_rev_tl                            |       70309 |   3.1 | float64     |       57 | 4.0           |
|  96 | num_bc_sats                                |       58623 |   2.6 | float64     |       60 | 2.0           |
|  97 | num_bc_tl                                  |       70309 |   3.1 | float64     |       76 | 5.0           |
|  98 | num_il_tl                                  |       70309 |   3.1 | float64     |      122 | 3.0           |
|  99 | num_op_rev_tl                              |       70309 |   3.1 | float64     |       81 | 4.0           |
| 100 | num_rev_accts                              |       70310 |   3.1 | float64     |      117 | 9.0           |
| 101 | num_rev_tl_bal_gt_0                        |       70309 |   3.1 | float64     |       50 | 4.0           |
| 102 | num_sats                                   |       58623 |   2.6 | float64     |       91 | 7.0           |
| 103 | num_tl_120dpd_2m                           |      153690 |   6.8 | float64     |        7 | 0.0           |
| 104 | num_tl_30dpd                               |       70309 |   3.1 | float64     |        5 | 0.0           |
| 105 | num_tl_90g_dpd_24m                         |       70309 |   3.1 | float64     |       34 | 0.0           |
| 106 | num_tl_op_past_12m                         |       70309 |   3.1 | float64     |       33 | 3.0           |
| 107 | pct_tl_nvr_dlq                             |       70464 |   3.1 | float64     |      690 | 76.9          |
| 108 | percent_bc_gt_75                           |       75412 |   3.3 | float64     |      284 | 0.0           |
| 109 | pub_rec_bankruptcies                       |        1398 |   0.1 | float64     |       12 | 0.0           |
| 110 | tax_liens                                  |         138 |   0   | float64     |       42 | 0.0           |
| 111 | tot_hi_cred_lim                            |       70309 |   3.1 | float64     |   529972 | 178050.0      |
| 112 | total_bal_ex_mort                          |       50063 |   2.2 | float64     |   212777 | 7746.0        |
| 113 | total_bc_limit                             |       50063 |   2.2 | float64     |    20309 | 2400.0        |
| 114 | total_il_high_credit_limit                 |       70309 |   3.1 | float64     |   194137 | 13734.0       |
| 115 | revol_bal_joint                            |     2152679 |  95.2 | float64     |    56875 | 7101.0        |
| 116 | sec_app_fico_range_low                     |     2152678 |  95.2 | float64     |       62 | 610.0         |
| 117 | sec_app_fico_range_high                    |     2152678 |  95.2 | float64     |       62 | 614.0         |
| 118 | sec_app_earliest_cr_line                   |     2152678 |  95.2 | object      |      663 | Feb-2005      |
| 119 | sec_app_inq_last_6mths                     |     2152678 |  95.2 | float64     |        7 | 3.0           |
| 120 | sec_app_mort_acc                           |     2152678 |  95.2 | float64     |       23 | 1.0           |
| 121 | sec_app_open_acc                           |     2152678 |  95.2 | float64     |       67 | 14.0          |
| 122 | sec_app_revol_util                         |     2154515 |  95.3 | float64     |     1216 | 80.0          |
| 123 | sec_app_open_act_il                        |     2152678 |  95.2 | float64     |       40 | 11.0          |
| 124 | sec_app_num_rev_accts                      |     2152678 |  95.2 | float64     |       86 | 8.0           |
| 125 | sec_app_chargeoff_within_12_mths           |     2152678 |  95.2 | float64     |       22 | 0.0           |
| 126 | sec_app_collections_12_mths_ex_med         |     2152678 |  95.2 | float64     |       18 | 2.0           |
| 127 | sec_app_mths_since_last_major_derog        |     2224757 |  98.4 | float64     |      140 | 37.0          |
| 128 | hardship_flag                              |          33 |   0   | object      |        2 | N             |
| 129 | hardship_type                              |     2249782 |  99.5 | object      |        1 | INTEREST O... |
| 130 | hardship_reason                            |     2249782 |  99.5 | object      |        9 | NATURAL_DI... |
| 131 | hardship_status                            |     2249782 |  99.5 | object      |        3 | BROKEN        |
| 132 | deferral_term                              |     2249782 |  99.5 | float64     |        1 | 3.0           |
| 133 | hardship_amount                            |     2249782 |  99.5 | float64     |     9162 | 47.01         |
| 134 | hardship_start_date                        |     2249782 |  99.5 | object      |       27 | Sep-2017      |
| 135 | hardship_end_date                          |     2249782 |  99.5 | object      |       28 | Dec-2017      |
| 136 | payment_plan_start_date                    |     2249782 |  99.5 | object      |       27 | Oct-2017      |
| 137 | hardship_length                            |     2249782 |  99.5 | float64     |        1 | 3.0           |
| 138 | hardship_dpd                               |     2249782 |  99.5 | float64     |       34 | 26.0          |
| 139 | hardship_loan_status                       |     2249782 |  99.5 | object      |        5 | Late (16-3... |
| 140 | orig_projected_additional_accrued_interest |     2252048 |  99.6 | float64     |     7487 | 442.41        |
| 141 | hardship_payoff_balance_amount             |     2249782 |  99.5 | float64     |    10893 | 3058.14       |
| 142 | hardship_last_payment_amount               |     2249782 |  99.5 | float64     |     9045 | 61.23         |
| 143 | disbursement_method                        |          33 |   0   | object      |        2 | Cash          |
| 144 | debt_settlement_flag                       |          33 |   0   | object      |        2 | N             |
| 145 | debt_settlement_flag_date                  |     2226453 |  98.5 | object      |       83 | Nov-2017      |
| 146 | settlement_status                          |     2226453 |  98.5 | object      |        3 | COMPLETE      |
| 147 | settlement_date                            |     2226453 |  98.5 | object      |       90 | Sep-2017      |
| 148 | settlement_amount                          |     2226453 |  98.5 | float64     |    21941 | 9915.0        |
| 149 | settlement_percentage                      |     2226453 |  98.5 | float64     |     2070 | 55.0          |
| 150 | settlement_term                            |     2226453 |  98.5 | float64     |       40 | 1.0           |
| 151 | risk_score                                 |          33 |   0   | float64     |       48 | 677.0         |
+-----+--------------------------------------------+-------------+-------+-------------+----------+---------------+

After overviewing this dataset it looks like a lot of features have high missing value percentage. So to have a smaller and more useful dataset first of all I will remove the features that have more than 50% missing values.

In [25]:
features_to_drop = [
    "member_id",
    "desc",
    "mths_since_last_delinq",
    "mths_since_last_record",
    "next_pymnt_d",
    "mths_since_last_major_derog",
    "annual_inc_joint",
    "dti_joint",
    "verification_status_joint",
    "mths_since_recent_bc_dlq",
    "mths_since_recent_revol_delinq",
    "revol_bal_joint",
    "sec_app_fico_range_low",
    "sec_app_fico_range_high",
    "sec_app_earliest_cr_line",
    "sec_app_inq_last_6mths",
    "sec_app_mort_acc",
    "sec_app_open_acc",
    "sec_app_revol_util",
    "sec_app_open_act_il",
    "sec_app_num_rev_accts",
    "sec_app_chargeoff_within_12_mths",
    "sec_app_collections_12_mths_ex_med",
    "sec_app_mths_since_last_major_derog",
    "hardship_type",
    "hardship_reason",
    "hardship_status",
    "deferral_term",
    "hardship_amount",
    "hardship_start_date",
    "hardship_end_date",
    "payment_plan_start_date",
    "hardship_length",
    "hardship_dpd",
    "hardship_loan_status",
    "orig_projected_additional_accrued_interest",
    "hardship_payoff_balance_amount",
    "hardship_last_payment_amount",
    "debt_settlement_flag_date",
    "settlement_status",
    "settlement_date",
    "settlement_amount",
    "settlement_percentage",
    "settlement_term"
]
accepted.drop(features_to_drop, axis=1, inplace=True)

In lending platforms like Lending Club, loan grades and subgrades are assigned to categorize the creditworthiness of borrowers. The grades and subgrades typically range from "A" (considered lower risk) to "G" (higher risk). Each grade is further divided into subgrades.  

The grading of loans is typically based on a combination of the borrower's creditworthiness and the risk associated with the loan. Lending platforms use a variety of factors and algorithms to assess and assign grades to loans.  

Lending platforms often use statistical models and machine learning algorithms to analyze historical data and identify patterns associated with loan performance. These models learn from past loan outcomes and use this knowledge to predict the risk associated with new loan applications.

In [26]:
accepted["grade"].unique()

array(['C', 'B', 'F', 'A', 'E', 'D', 'G', nan], dtype=object)

In [27]:
accepted["sub_grade"].unique()

array(['C4', 'C1', 'B4', 'C5', 'F1', 'C3', 'B2', 'B1', 'A2', 'B5', 'C2',
       'E2', 'A4', 'E3', 'A1', 'D4', 'F3', 'D1', 'B3', 'E4', 'D3', 'D2',
       'D5', 'A5', 'F2', 'E1', 'F5', 'E5', 'A3', 'G2', 'G1', 'G3', 'G4',
       'F4', 'G5', nan], dtype=object)

To predict the grade and subgrade of the loan I need to find all the features that are available at the time of loan application and not beforehand. To do that I will look at the features one by one and sort them out.

In [28]:
f.overview_data(accepted, display_frst_value=True)

The DataFrame has 2260699 rows and 108 columns.
+-----+----------------------------+-------------+------+-------------+----------+---------------+
|     | Column                     |   NA Values |    % | Data Type   |   Unique | First Value   |
|-----+----------------------------+-------------+------+-------------+----------+---------------|
|   0 | id                         |           0 |  0   | object      |  2260699 | 68407277      |
|   1 | amount_requested           |          33 |  0   | float64     |     1572 | 3600.0        |
|   2 | funded_amnt                |          33 |  0   | float64     |     1572 | 3600.0        |
|   3 | funded_amnt_inv            |          33 |  0   | float64     |    10057 | 3600.0        |
|   4 | term                       |          33 |  0   | object      |        2 | 36 months     |
|   5 | int_rate                   |          33 |  0   | float64     |      673 | 13.99         |
|   6 | installment                |          33 |  0   | float64     |    93301 | 123.03        |
|   7 | grade                      |          33 |  0   | object      |        7 | C             |
|   8 | sub_grade                  |          33 |  0   | object      |       35 | C4            |
|   9 | emp_title                  |      167002 |  7.4 | object      |   512694 | leadman       |
|  10 | employment_length          |      146940 |  6.5 | object      |       11 | 10+ years     |
|  11 | home_ownership             |          33 |  0   | object      |        6 | MORTGAGE      |
|  12 | annual_inc                 |          37 |  0   | float64     |    89368 | 55000.0       |
|  13 | verification_status        |          33 |  0   | object      |        3 | Not Verifi... |
|  14 | issue_d                    |          33 |  0   | object      |      139 | Dec-2015      |
|  15 | loan_status                |          33 |  0   | object      |        9 | Fully Paid    |
|  16 | pymnt_plan                 |          33 |  0   | object      |        2 | n             |
|  17 | url                        |          33 |  0   | object      |  2260666 | https://le... |
|  18 | purpose                    |          33 |  0   | object      |       14 | debt_conso... |
|  19 | loan_title                 |       23359 |  1   | object      |    63154 | Debt conso... |
|  20 | zip_code                   |          34 |  0   | object      |      956 | 190xx         |
|  21 | state                      |          33 |  0   | object      |       51 | PA            |
|  22 | debt_to_income_ratio       |        1744 |  0.1 | float64     |    10844 | 5.91          |
|  23 | delinq_2yrs                |          62 |  0   | float64     |       37 | 0.0           |
|  24 | earliest_cr_line           |          62 |  0   | object      |      754 | Aug-2003      |
|  25 | fico_range_low             |          33 |  0   | float64     |       48 | 675.0         |
|  26 | fico_range_high            |          33 |  0   | float64     |       48 | 679.0         |
|  27 | inq_last_6mths             |          63 |  0   | float64     |       28 | 1.0           |
|  28 | open_acc                   |          62 |  0   | float64     |       91 | 7.0           |
|  29 | pub_rec                    |          62 |  0   | float64     |       43 | 0.0           |
|  30 | revol_bal                  |          33 |  0   | float64     |   102251 | 2765.0        |
|  31 | revol_util                 |        1835 |  0.1 | float64     |     1430 | 29.7          |
|  32 | total_acc                  |          62 |  0   | float64     |      152 | 13.0          |
|  33 | initial_list_status        |          33 |  0   | object      |        2 | w             |
|  34 | out_prncp                  |          33 |  0   | float64     |   356141 | 0.0           |
|  35 | out_prncp_inv              |          33 |  0   | float64     |   368481 | 0.0           |
|  36 | total_pymnt                |          33 |  0   | float64     |  1633862 | 4421.72391... |
|  37 | total_pymnt_inv            |          33 |  0   | float64     |  1311098 | 4421.72       |
|  38 | total_rec_prncp            |          33 |  0   | float64     |   486463 | 3600.0        |
|  39 | total_rec_int              |          33 |  0   | float64     |   635921 | 821.72        |
|  40 | total_rec_late_fee         |          33 |  0   | float64     |    18375 | 0.0           |
|  41 | recoveries                 |          33 |  0   | float64     |   132777 | 0.0           |
|  42 | collection_recovery_fee    |          33 |  0   | float64     |   146222 | 0.0           |
|  43 | last_pymnt_d               |        2460 |  0.1 | object      |      136 | Jan-2019      |
|  44 | last_pymnt_amnt            |          33 |  0   | float64     |   704465 | 122.67        |
|  45 | last_credit_pull_d         |         105 |  0   | object      |      141 | Mar-2019      |
|  46 | last_fico_range_high       |          33 |  0   | float64     |       72 | 564.0         |
|  47 | last_fico_range_low        |          33 |  0   | float64     |       71 | 560.0         |
|  48 | collections_12_mths_ex_med |         178 |  0   | float64     |       16 | 0.0           |
|  49 | policy_code                |          33 |  0   | float64     |        1 | 1.0           |
|  50 | application_type           |          33 |  0   | object      |        2 | Individual    |
|  51 | acc_now_delinq             |          62 |  0   | float64     |        9 | 0.0           |
|  52 | tot_coll_amt               |       70309 |  3.1 | float64     |    15574 | 722.0         |
|  53 | tot_cur_bal                |       70309 |  3.1 | float64     |   487688 | 144904.0      |
|  54 | open_acc_6m                |      866163 | 38.3 | float64     |       19 | 2.0           |
|  55 | open_act_il                |      866162 | 38.3 | float64     |       54 | 2.0           |
|  56 | open_il_12m                |      866162 | 38.3 | float64     |       19 | 0.0           |
|  57 | open_il_24m                |      866162 | 38.3 | float64     |       31 | 1.0           |
|  58 | mths_since_rcnt_il         |      909957 | 40.3 | float64     |      405 | 21.0          |
|  59 | total_bal_il               |      866162 | 38.3 | float64     |   162249 | 4981.0        |
|  60 | il_util                    |     1068882 | 47.3 | float64     |      280 | 36.0          |
|  61 | open_rv_12m                |      866162 | 38.3 | float64     |       29 | 3.0           |
|  62 | open_rv_24m                |      866162 | 38.3 | float64     |       50 | 3.0           |
|  63 | max_bal_bc                 |      866162 | 38.3 | float64     |    33726 | 722.0         |
|  64 | all_util                   |      866381 | 38.3 | float64     |      188 | 34.0          |
|  65 | total_rev_hi_lim           |       70309 |  3.1 | float64     |    34220 | 9300.0        |
|  66 | inq_fi                     |      866162 | 38.3 | float64     |       33 | 3.0           |
|  67 | total_cu_tl                |      866163 | 38.3 | float64     |       62 | 1.0           |
|  68 | inq_last_12m               |      866163 | 38.3 | float64     |       48 | 4.0           |
|  69 | acc_open_past_24mths       |       50063 |  2.2 | float64     |       57 | 4.0           |
|  70 | avg_cur_bal                |       70379 |  3.1 | float64     |    88597 | 20701.0       |
|  71 | bc_open_to_buy             |       74968 |  3.3 | float64     |    91500 | 1506.0        |
|  72 | bc_util                    |       76104 |  3.4 | float64     |     1494 | 37.2          |
|  73 | chargeoff_within_12_mths   |         178 |  0   | float64     |       11 | 0.0           |
|  74 | delinq_amnt                |          62 |  0   | float64     |     2617 | 0.0           |
|  75 | mo_sin_old_il_acct         |      139104 |  6.2 | float64     |      566 | 148.0         |
|  76 | mo_sin_old_rev_tl_op       |       70310 |  3.1 | float64     |      787 | 128.0         |
|  77 | mo_sin_rcnt_rev_tl_op      |       70310 |  3.1 | float64     |      333 | 3.0           |
|  78 | mo_sin_rcnt_tl             |       70309 |  3.1 | float64     |      232 | 3.0           |
|  79 | mort_acc                   |       50063 |  2.2 | float64     |       47 | 1.0           |
|  80 | mths_since_recent_bc       |       73445 |  3.2 | float64     |      546 | 4.0           |
|  81 | mths_since_recent_inq      |      295468 | 13.1 | float64     |       26 | 4.0           |
|  82 | num_accts_ever_120_pd      |       70309 |  3.1 | float64     |       44 | 2.0           |
|  83 | num_actv_bc_tl             |       70309 |  3.1 | float64     |       42 | 2.0           |
|  84 | num_actv_rev_tl            |       70309 |  3.1 | float64     |       57 | 4.0           |
|  85 | num_bc_sats                |       58623 |  2.6 | float64     |       60 | 2.0           |
|  86 | num_bc_tl                  |       70309 |  3.1 | float64     |       76 | 5.0           |
|  87 | num_il_tl                  |       70309 |  3.1 | float64     |      122 | 3.0           |
|  88 | num_op_rev_tl              |       70309 |  3.1 | float64     |       81 | 4.0           |
|  89 | num_rev_accts              |       70310 |  3.1 | float64     |      117 | 9.0           |
|  90 | num_rev_tl_bal_gt_0        |       70309 |  3.1 | float64     |       50 | 4.0           |
|  91 | num_sats                   |       58623 |  2.6 | float64     |       91 | 7.0           |
|  92 | num_tl_120dpd_2m           |      153690 |  6.8 | float64     |        7 | 0.0           |
|  93 | num_tl_30dpd               |       70309 |  3.1 | float64     |        5 | 0.0           |
|  94 | num_tl_90g_dpd_24m         |       70309 |  3.1 | float64     |       34 | 0.0           |
|  95 | num_tl_op_past_12m         |       70309 |  3.1 | float64     |       33 | 3.0           |
|  96 | pct_tl_nvr_dlq             |       70464 |  3.1 | float64     |      690 | 76.9          |
|  97 | percent_bc_gt_75           |       75412 |  3.3 | float64     |      284 | 0.0           |
|  98 | pub_rec_bankruptcies       |        1398 |  0.1 | float64     |       12 | 0.0           |
|  99 | tax_liens                  |         138 |  0   | float64     |       42 | 0.0           |
| 100 | tot_hi_cred_lim            |       70309 |  3.1 | float64     |   529972 | 178050.0      |
| 101 | total_bal_ex_mort          |       50063 |  2.2 | float64     |   212777 | 7746.0        |
| 102 | total_bc_limit             |       50063 |  2.2 | float64     |    20309 | 2400.0        |
| 103 | total_il_high_credit_limit |       70309 |  3.1 | float64     |   194137 | 13734.0       |
| 104 | hardship_flag              |          33 |  0   | object      |        2 | N             |
| 105 | disbursement_method        |          33 |  0   | object      |        2 | Cash          |
| 106 | debt_settlement_flag       |          33 |  0   | object      |        2 | N             |
| 107 | risk_score                 |          33 |  0   | float64     |       48 | 677.0         |
+-----+----------------------------+-------------+------+-------------+----------+---------------+

In [29]:
selected_features = [
    "amount_requested",
    "int_rate",
    "term",
    "installment",
    "grade",
    "sub_grade",
    "emp_title",
    "employment_length",
    "home_ownership",
    "annual_inc",
    "verification_status",
    "issue_d",
    "purpose",
    "zip_code",
    "state",
    "debt_to_income_ratio",
    "delinq_2yrs",
    "earliest_cr_line",
    "fico_range_low",
    "fico_range_high",
    "inq_last_6mths",
    "open_acc",
    "pub_rec",
    "revol_bal",
    "revol_util",
    "total_acc",
    "initial_list_status",
    "collections_12_mths_ex_med",
    "application_type",
    "acc_now_delinq",
    "tot_coll_amt",
    "tot_cur_bal",
    "open_acc_6m",
    "open_act_il",
    "open_il_12m",
    "open_il_24m",
    "mths_since_rcnt_il",
    "total_bal_il",
    "il_util",
    "open_rv_12m",
    "open_rv_24m",
    "max_bal_bc",
    "all_util",
    "total_rev_hi_lim",
    "inq_fi",
    "total_cu_tl",
    "inq_last_12m",
    "acc_open_past_24mths",
    "avg_cur_bal",
    "bc_open_to_buy",
    "bc_util",
    "chargeoff_within_12_mths",
    "delinq_amnt",
    "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op",
    "mo_sin_rcnt_rev_tl_op",
    "mo_sin_rcnt_tl",
    "mort_acc",
    "mths_since_recent_bc",
    "mths_since_recent_inq",
    "num_accts_ever_120_pd",
    "num_actv_bc_tl",
    "num_actv_rev_tl",
    "num_bc_sats",
    "num_bc_tl",
    "num_il_tl",
    "num_op_rev_tl",
    "num_rev_accts",
    "num_rev_tl_bal_gt_0",
    "num_sats",
    "num_tl_120dpd_2m",
    "num_tl_30dpd",
    "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m",
    "pct_tl_nvr_dlq",
    "percent_bc_gt_75",
    "pub_rec_bankruptcies",
    "tax_liens",
    "tot_hi_cred_lim",
    "total_bal_ex_mort",
    "total_bc_limit",
    "total_il_high_credit_limit",
    "hardship_flag",
    "risk_score"
]

In [30]:
columns_to_drop = [col for col in accepted.columns if col not in selected_features]
accepted.drop(columns_to_drop, axis=1, inplace=True)

In [31]:
accepted

,amount_requested,term,int_rate,installment,grade,sub_grade,emp_title,employment_length,home_ownership,annual_inc,verification_status,issue_d,purpose,zip_code,state,debt_to_income_ratio,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,risk_score
0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,debt_consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,7.0,0.0,2765.0,29.7,13.0,w,0.0,Individual,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,4.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,N,677.0
1,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,small_business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,22.0,0.0,21470.0,19.2,38.0,w,0.0,Individual,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,0.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,N,717.0
2,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,home_improvement,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,6.0,0.0,7869.0,56.2,18.0,w,0.0,Joint App,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,10.0,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,N,697.0
3,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,debt_consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,13.0,0.0,7802.0,11.6,17.0,w,0.0,Individual,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,N,787.0
4,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,major_purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,0.0,21929.0,64.5,35.0,w,0.0,Individual,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,1.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,N,697.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,40000.0,60 months,10.49,859.56,B,B3,Vice President,9 years,MORTGAGE,227000.0,Verified,Oct-2016,debt_consolidation,907xx,CA,12.75,7.0,Feb-1995,705.0,709.0,1.0,5.0,0.0,8633.0,64.9,37.0,f,0.0,Individual,0.0,0.0,28398.0,0.0,2.0,0.0,1.0,15.0,19765.0,46.0,0.0,0.0,5141.0,51.0,13300.0,3.0,0.0,2.0,2.0,5680.0,4070.0,66.9,0.0,0.0,154.0,258.0,33.0,15.0,3.0,41.0,1.0,6.0,2.0,3.0,2.0,15.0,9.0,3.0,23.0,3.0,5.0,0.0,0.0,7.0,0.0,75.7,50.0,0.0,0.0,55970.0,28398.0,12300.0,42670.0,N,707.0
2260697,24000.0,60 months,14.49,564.56,C,C4,Program Manager,6 years,RENT,110000.0,Not Verified,Oct-2016,debt_consolidation,334xx,FL,18.30,0.0,Jul-1999,660.0,664.0,0.0,10.0,1.0,17641.0,68.1,31.0,f,0.0,Individual,0.0,0.0,62426.0,0.0,2.0,0.0,2.0,20.0,44785.0,78.0,1.0,5.0,6172.0,73.0,25900.0,0.0,0.0,1.0,7.0,6243.0,4660.0,77.5,0.0,0.0,132.0,206.0,9.0,9.0,2.0,9.0,9.0,1.0,5.0,7.0,5.0,15.0,4.0,8.0,24.0,7.0,10.0,0.0,0.0,0.0,1.0,96.2,40.0,1.0,0.0,84664.0,62426.0,20700.0,58764.0,N,662.0
2260698,14000.0,60 months,14.49,329.33,C,C4,Customer Service Technician,10+ years,MORTGAGE,95000.0,Verified,Oct-2016,debt_consolidation,770xx,TX,23.36,0.0,Jun-1996,660.0,664.0,1.0,8.0,0.0,7662.0,54.0,22.0,w,0.0,Individual,0.0,0.0,143066.0,0.0,1.0,1.0,2.0,7.0,32071.0,94.0,0.0,1.0,4093.0,84.0,14200.0,3.0,1.0,2.0,3.0,17883.0,1838.0,80.7,0.0,0.0,149.0,243.0,22.0,7.0,1.0,75.0,6.0,4.0,3.0,3.0,4.0,12.0,3.0,5.0,17.0,3.0,8.0,0.0,0.0,0.0,1.0,81.8,50.0,0.0,0.0,163804.0,44215.0,9500.0,34169.0,N,662.0
2260699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
accepted.dropna(how="all", inplace=True)

In [33]:
f.overview_data(accepted[["grade", "sub_grade", "int_rate"]], display_frst_value=True)

The DataFrame has 2260666 rows and 3 columns.
+----+-----------+-------------+-----+-------------+----------+---------------+
|    | Column    |   NA Values |   % | Data Type   |   Unique | First Value   |
|----+-----------+-------------+-----+-------------+----------+---------------|
|  0 | grade     |           0 |   0 | object      |        7 | C             |
|  1 | sub_grade |           0 |   0 | object      |       35 | C4            |
|  2 | int_rate  |           0 |   0 | float64     |      673 | 13.99         |
+----+-----------+-------------+-----+-------------+----------+---------------+

After droping the rows with all missing values we can see that my target features don't contain null values anymore. But now I need to do some feature engineering to finalize my dataset preparation. The first feature is `term` from which I will extract the numeric part. Also I will create a new feature called `time_since_earliest_cr_line` in which I will be calculating the time in days since the first clients credit line was opened.

In [34]:
accepted["term"] = accepted["term"].str.extract(r"(\d+)", expand=False).astype("Int32")

In [35]:
accepted["earliest_cr_line"] = pd.to_datetime(accepted["earliest_cr_line"], format="%b-%Y")
accepted["issue_d"] = pd.to_datetime(accepted["issue_d"], format="%b-%Y")

In [36]:
accepted["time_since_earliest_cr_line"] = (accepted["issue_d"] - accepted["earliest_cr_line"]).dt.days

In [37]:
# accepted.to_csv("/Users/laurynas/Documents/DataScience/Projects/Data/lending-club/df_2.csv", index=False)